services:
  # --------------------------------------------------------------------------
  # The ocs library.
  # --------------------------------------------------------------------------
  ocs:
    image: "ocs"
    build: .

  # --------------------------------------------------------------------------
  # The crossbar server
  # --------------------------------------------------------------------------
  ocs-crossbar:
    image: "ocs-crossbar"
    build: ./docker/crossbar/
    depends_on:
      - "ocs"
