crossbar
autobahn
twisted
wampy>=0.9.20
deprecation
msgpack
influxdb

# Lakeshore240
pyserial

# Documentation generation
sphinx
sphinx-argparse

# checkdata
progress
colorama

# testing
pytest
pytest-cov
coveralls
