autobahn
twisted
deprecation
msgpack
influxdb
ipywidgets
PyYAML

# Lakeshore240
pyserial

# Documentation generation
sphinx
sphinx-argparse
sphinx_rtd_theme

# checkdata
progress
colorama

# g32influx
tqdm

# testing
pytest
pytest-cov
responses
docker
pytest-docker-compose
