autobahn
twisted
deprecation
msgpack
influxdb
PyYAML
versioneer

# FakeDataAgent
numpy

# Lakeshore240
pyserial

# Documentation generation
# see docs/requirements.txt

# checkdata
progress
colorama

# g32influx
tqdm

# testing
pytest
pytest-cov
docker
pytest-docker-compose
pytest-dependency
pytest-twisted
