/* General Branding */

body {
    font-family: sans-serif;
}

h1, h2, h3 {
    font-family: monospace;
    margin: 0;
}

/* ... for clickable text elements. */
.clickable {
     cursor:pointer;
     color:blue;
}

.obviously_clickable {
     cursor:pointer;
     color:black;
}


/* Lay-out -- implement the two-column / one-column responsiveness. */

* {
  box-sizing: border-box;
}

.block_unit {
  float: left;
  width: 50%;
  padding: 10px;
}

.block_holder:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 800px) {
  .block_unit {
      width: 100%;
  }
}

/* "Connection" form formatting. */

#connection_form_table {
    font-size: 10pt;
    width: 100%;
}

#connection_form_table input {
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}

/* "autopop" refers to containers displaying data returned from OCS;
   such rendering is grouped together because the number and size of
   results can vary. */

.autopop_box {
    word-break: break-all;
    word-wrap: break-word;
    resize: vertical;
    overflow: auto;
    font-family: monospace;
}

.autopop_border {
    border-style: solid;
    border-width: 1px;
    border-color: blue;
    margin: 5px;
    padding: 10px;
}

/* Log message list formatting. */

p.hanging_logmsg {
    margin-left:  10px;
    text-indent: -10px;
    margin: 5px;
}

/* Auto-populated list entries, especially Agents and Interface
   lists. */

.data_h {
    font-family: monospace;
    font-weight: bold;
}

.data_1 {
    font-family: monospace;
    font-size: 15pt;
    padding-left: 20px;
}

.data_1a {
    font-family: monospace;
    font-size: 15pt;
    padding-left: 20px;
    width: 80%;
}

.data_1b {
    font-family: monospace;
    font-size: 10pt;
    padding-left: 0px;
    text-align: center;
    
}


/*
 * monitor_ui
 */


/* Override jquery UI padding of tab container divs. */
.ui-tabs .ui-tabs-panel {
    padding: 0px;
}

/* Grid-based layout -- a 3-column approach, for either:
   label | widget | widget
   label |    big-widget
 */
.ocs_ui {
    display: grid;
    font-family: monospace;
    grid-template-columns: 30% 2fr 2fr;
    grid-gap: 5px;
}

/* Classes for 2-column and 3-column inputs / indicators. */
.ocs_double {
    grid-column-start: span 2;
}
.ocs_triple {
    grid-column-start: span 3;
}

.ocs_ui > .important {
    font-weight: bold;
}

.box {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    padding: 10px;
}

.ocs_ui > input {
    display: grid;
    font-family: monospace;
    padding: 10px;
    border: 2px solid black;
    border-radius: 4px;
}

.ocs_ui > select {
    font-family: monospace;
}

/* Apply to :-moz-read-only (Firefox) and :read-only (other). */
.ocs_ui > input:read-only {
    border: 1px solid gray;
    border-radius: 4px;
}
.ocs_ui > input:-moz-read-only {
    border: 1px solid gray;
    border-radius: 4px;
}

/* Used to mark connection text or Agent in list as unexpectedly absent */
.ocs_missing_agent {
    color: white;
    background-color: red;
}

.ocs_ui > label {
    padding: 10px;
}

/* Animation for when an operation is running. */
@keyframes spinner {
    to {transform: rotate(360deg); }
}
.operation_icon {
    float: right;
    font-size: 20px;
    color: gray;
}
.spinning {
    color: black;
    animation: spinner 10s linear infinite;
}
