.hm_ui {
    display: grid;
    font-family: monospace;
    grid-gap: 5px;
    align-items: center;
    /* grid-template-columns: 3fr 3fr ... (set dynamically) */
}

.hm_header {
    font-weight: bold;
}

.hm_center {
    text-align: center;
}

.hm_ui > input {
    display: grid;
    font-family: monospace;
    padding: 10px;
    border: 2px solid black;
    border-radius: 4px;
}

.hm_ui > div {
    display: inline-grid;
}
