name: Run Tests

on:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '**.rst'
      - '**.md'
      - '.flake8'
      - '.pre-commit-config.yaml'
      - '.readthedocs.yaml'
  workflow_call:

jobs:
  test:
    name: pytest with coverage
    runs-on: ubuntu-latest

    steps:
    # Setup
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.12.1
      with:
        access_token: ${{ github.token }}

    - name: Set up Python 3.8
      uses: actions/setup-python@v6
      with:
        python-version: 3.8

    # Install
    - name: clone ocs
      uses: actions/checkout@v5

    - name: Install ocs
      run: |
        pip3 install -r requirements.txt
        pip3 install -e .[so3g]

    # Unit Tests
    - name: Run unit tests
      working-directory: ./tests
      run: |
        COVERAGE_FILE=.coverage.unit python3 -m pytest --cov -m 'not integtest'

    # Integration Tests
    - name: Build images for integration tests
      run: |
        docker compose build ocs ocs-crossbar

    - name: Run integration tests
      working-directory: ./tests
      run: |
        mkdir log
        COVERAGE_FILE=.coverage.int python3 -m pytest --cov -m 'integtest'
        ls -la ./log/

    # Coverage
    - name: Report test coverage
      run: |
        mv ./tests/.coverage.* ./
        coverage combine
        coverage xml
        coverage report

    - name: Upload results to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
